# {{ ansible_managed }}

GRAFANA_USER={{ grafana_user }}
GRAFANA_GROUP={{ grafana_group }}

GRAFANA_HOME={{ grafana_paths_home }}

LOG_DIR={{ grafana_paths_logs }}
DATA_DIR={{ grafana_paths_data }}

MAX_OPEN_FILES=10000

CONF_DIR={{ grafana_paths_config }}
CONF_FILE={{ grafana_ini_file }}

RESTART_ON_UPGRADE=false

PLUGINS_DIR={{ grafana_paths_plugins }}

PID_FILE="{{ grafana_paths_run }}/grafana.pid"
